@import "_mixing.scss";

.action_layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 358px;
  height: 68px;
  top: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin-top: 16px;
  padding: 5% 5%;
  @include layoutFixerSmall(280px);
}

.action_svg_container {
  display: flex;
  align-items: center;
}
.action_text_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.action_text_caption {
  width: 225px;
  height: 20px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  overflow: hidden;
  @include layoutFixerSmallText(225px, 13px);
}
.action_text_comment {
  width: 225px;
  height: 16px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  @include layoutFixerSmallText(225px, 11px);
}

.action_points {
  position: relative;
  top: -8px;
  width: 36px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #00cc00;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 856px;
  background-color: #aa3030;
}

.action_heading_text {
  width: 189px;
  height: 24px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
  left: -80px;
  @media screen and (max-width: 360px) {
    left: -40px;
  }
}

.center {
  @include centering;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.center_relative {
  position: relative;
  top: 92px;
  @include centering;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 20;
}
