$color-primary: #ffcc33;
$color-secondary: #fafafa;
$color-button: #000000;

@mixin layout($color) {
  position: relative;
  width: 390px;
  height: 844px;

  background: $color;
}
@mixin flexLayout {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 16px;
  gap: 32px;
  position: absolute;
  width: 358px;
  height: 290px;
  background: #ffffff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@mixin font-weight($var: null) {
  @if $var == "regular" {
    font-weight: 400;
    font-size: 4rem;
  } @else if $var == "med" {
    font-weight: 600;

    color: $color-secondary;
    font-size: 6rem;
  } @else if $var == "bold" {
    font-weight: bold;
    color: $color-primary;
    font-size: 8rem;
  }
}
